body{
    background-color: #501E06;
    background-image: url("beans.jpg");
    background-size: cover;
}
.container{
}
table {
    border-collapse: collapse;
    margin: 15px 0;
    table-layout:fixed;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
#topbar {
    background-image: url("coffee.jpg");
    height: 150px;
    text-align: right;
    color: #9D6C56;
    font-family: 'Cookie', cursive;
}
#leftbar{
    height: 700px;
    font-family: 'Josefin Sans', sans-serif;
    color: #9D6C56;
    font-size: 12px;
    background-color: white;
    background-image: url("coffee-bear2.jpg");
    background-size: cover;
}

#rightbar{
    background-color: #DFD7CD;
    height: 700px;
    font-family: 'Cookie', cursive;
}
#bottombar{
    height: 150%;
}
span{
    font-size: 18px;
    opacity: .6;
    color: grey;
}
hr{
    border-top: 1px dashed white;
}
tbody#coffees{
    height: 100px;
    width: 100px;
}