body {
    background-color: white;
    background-image: url("coffeebg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.n-color {
    color: white !important;
}

#topbar {
    background: black;
    height: 100px;
    color: white;
    text-shadow: 1px 1px #3F1003;
    font-family: 'Cookie', cursive;
    text-align: right;
    padding-left: 80px;
}

#centerbar {
    height: 700px;
    font-family: 'Cookie', cursive;
    color: #E6C497;
    text-shadow: 1px 1px #3F1003;
    font-size: 12px;
    background-image: url("board.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-left: 60px;
    padding-top: 70px;
}

#rightbar {
    text-shadow: 1px 1px chocolate;
    height: 700px;
    font-family: 'Cookie', cursive;
    color: white;
    background: black;
}
#leftbar {
    font-family: 'Handlee', cursive;
    font-size: 65px;
    background: black;
    color: white;
    background: url("leftbar3.jpg");
    background-size: cover;

}
#bottombar {
    height: 150%;
}

span {
    font-size: 18px;
    color: #E1DCD7;
}

hr {
    border-top: 1px dashed white;
}

tbody#coffees {
    height: 100px;
    width: 100px;
}

#roast-selection {
    width: 99%;
    background-color: white;
}


#user-roast-selection {
    width: 99%;
    background-color: white;
}

.search {
    width: 100%;
}

.submit {
    width: 100%;
}
#buycup {
    font-size: 60px;
    color: #53343B;
    font-family: 'Josefin Sans', sans-serif;
}
#content{
    height: 600px;
    padding-left: 100px;
}
#content2{
    background: white;
}

footer {
    height: 100px; width: 100%; font-family: 'Josefin Sans', sans-serif; font-size: 18px; color: #DAC39D;
    background: url("footer.jpg");
    background-size: cover;
}


.footer-container {
    margin: 0 auto;
    background: url("footer.jpg");

}

.footer-links {
    color: #DAC39D;
    text-decoration: underline;
}

.footer-links:hover {
    color: #DAC39D;
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

li {
    padding: 5px 0;
}

.liShadow {
    text-shadow: 2px 2px #3F1003;
}

li img {
    height: 35px;
    width: auto;
}

#map {
    height: 250px;
    width: 100%;
}
#content3 {
    background: url("wood.jpg");
}
#topsellers{
    text-align: center;
}
.descriptions{
    background: white;
    margin: 10px;
    box-shadow: 10px 10px #F5EFEE;
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 250px;
}